<div class="console">
  <div class="console-front">
    <div class="screen-border">
      <div class="screen-border-rim">
        <div class="screen">
          <div class="screen-reflection"></div>
          <div class="scan"></div>

          <nav>
            <span class="info1" (click)="buttonSound()" [routerLink]="accessEnabled ? '/profile' : '/login'"></span>
            <span class="info2" (click)="buttonSound()" [routerLink]="accessEnabled ? '/challenge' : '/login'"></span>
            <span class="info3" (click)="buttonSound()" [routerLink]="accessEnabled ? '/messages' : '/login'"></span>
            <span class="info4" (click)="buttonSound()" [routerLink]="accessEnabled ? '/leaderboard' : '/login'"></span>
            <span *ngIf="auth.isLoggedIn()" class="info5" (click)="auth.logout()"></span>
            <span class="info6" (click)="bgMusic()"></span> 
          
            <p>
              <span class="line2"></span>
            </p>
            <div class="game-text">
              <router-outlet></router-outlet>
            </div>
          </nav>

        </div>
      </div>
    </div>
  </div>


  <div class="wheel">
    <div class="wheel-shadow"></div>
    <div class="wheel-shadow"></div>
    <div class="wheel-shadow"></div>
    <div class="wheel-shadow"></div>
    <div class="wheel-shadow"></div>
    <div class="wheel-plug"></div>
  </div>

  <div class="speakers">
    <div class="speaker"></div>
    <div class="speaker"></div>
    <div class="speaker"></div>
    <div class="speaker"></div>


      <div class="radios"><p class="audio">Audio</p>
        <input id="link" name="name" type="radio" class="music1" checked (click)="noMusic()"/>
        <input type="radio"  name="name" class="music2" (click)="bgMusic()"/>
        <input type="radio"  name="name" class="music3" (click)="bgMusic2()"/>
        <input type="radio"  name="name" class="music4" (click)="bgMusic3()" />
        <input type="radio"  name="name" class="music5" (click)="bgMusic4()"/>
        <img src="./assets/img/screw.png" id="stl"><img src="./assets/img/screw.png" id="str"><img src="./assets/img/screw.png" id="sbr"><img src="./assets/img/screw.png" id="sbl">
      </div>
      <!-- "start": "ng build && nodemon ./bin/www", -->
    <!-- <div class="logo">LOGO</div> -->
  </div>
  
  <div class="bottom-button"></div>
  <div class="top-right">
    <div class="power"></div>
  </div>
</div>
