h1 {font-size: 30px; text-align: center; margin-left: -34px}
.menu{color: lightgreen; font-size: 12px; background: rgba(0,0,0,0.8); border: #9daaa3 1px solid; border-radius: 0px; max-width: 480px; margin-top: 30px}
.top{margin-top: 20px}
.container{padding-left:20%}