<div class="container">
  <div class="row">
     <div class="col-md-12">


      <h1>dCrypt Profile</h1>


      <div class="form-horizontal">
        <div class="form-group top">
          <label class="col-sm-3 control-label ">Name</label>
            <input class="menu">
          <p class="form-control-static">{{ auth.getUserDetails()?.name }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
            <input class="menu">
          <p class="form-control-static">{{ auth.getUserDetails()?.email }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Alias</label>
            <input class="menu">
          <p class="form-control-static">{{ auth.getUserDetails()?.alias }}</p>
        </div>
      </div>

    </div>
  </div>
</div>