<h1>Agent Profile</h1>

<div class="container">
  <div class="row">
     <div class="col-md-12">

      <div class="form-horizontal">
        <div class="form-group top">
          <label class="col-sm-3 control-label ">Name</label>
          <input class="menu" disabled value="{{auth.getUserDetails()?.name}}">
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <input class="menu" disabled value="{{auth.getUserDetails()?.email}}">
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Alias</label>
          <input class="menu" disabled value="{{auth.getUserDetails()?.alias}}">
        </div>
      </div>

    </div>
  </div>
</div>
