<div class="container">
  
  <div class="title text-center">
    <h4>Welcome to dCrypt!</h4>
  </div>
  <hr>

  <!-- <p>Please <a routerLink="/login">sign in</a> or <a routerLink="/register">register</a>?</p> -->

  <div *ngIf="!auth.isLoggedIn()" class="login-buttons text-center">
    <br>
    <br>
    <br>
    <button class="btn btn-outline-success btn-sm" id="clearButton"  routerLink="/login">Log-In</button>
    <br>
    <br>
    <br>
    <button class="btn btn-outline-success btn-sm" id="clearButton"  routerLink="/register">Register</button>
  </div> 
</div>
