<div class="container">
  
  <div class="title text-center">
    <h4>Welcome to dCrypt!</h4>
  </div>
  <hr>

  <!-- <p>Please <a routerLink="/login">sign in</a> or <a routerLink="/register">register</a>?</p> -->

  <div *ngIf="!auth.isLoggedIn()" class="login-buttons text-center">
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-outline-success btn-sm" id="clearButton" routerLink="/login">Login</button>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-outline-success btn-sm" id="clearButton" routerLink="/register">Register</button>
    
      </div>
    </div>
  </div>
  <br>
  <br>
  <img src="../../assets/img/tenor.gif">
</div>
