<div class="container">
  
  <div class="title text-center">
    <h4>Welcome to dCrypt!</h4>
  </div>
  <hr>

  <!-- <p>Please <a routerLink="/login">sign in</a> or <a routerLink="/register">register</a>?</p> -->

  <div class="login-buttons text-center">

    <button type="button" class="btn btn-secondary btn-lg" routerLink="/login">Log-In</button>

    <br>
    <br>
    <br>

    <button type="button" class="btn btn-secondary btn-lg" routerLink="/register">Register</button>

  </div>
  
</div>
