<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Register</h1>
      <p class="lead">Already a Registered Agent?</p>
      <p class="lead">Please <a routerLink="/login" class="menu1"> &nbsp;Login </a> &nbsp;instead.</p>
      <br>
      <form (submit)="register()" class="row">
        <div class="form-group col-6">
          <label for="name">Name</label>
          <input autofocus type="text" class="form-control menu1" name="name" placeholder="Enter your Name" [(ngModel)]="credentials.name" required>
        </div>
        <div class="form-group col-6">
          <label for="alias">Alias</label>
          <input type="text" class="form-control menu2" name="alias" placeholder="Enter your Alias" [(ngModel)]="credentials.alias" required>
        </div>
        <div class="form-group col-12">
          <label for="email">Email address</label>
          <input type="email" class="form-control menu" name="email" placeholder="Enter Email" [(ngModel)]="credentials.email" required>
        </div>
        <div class="form-group col-12">
          <label for="password">Password</label>
          <input type="password" class="form-control menu" name="password" placeholder="Password" [(ngModel)]="credentials.password" required>
        </div>
        <button type="submit" class="btn btn-outline-success btn-sm" id="clearButton">Register</button>
      </form>
    </div>
  </div>

</div>
